@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

    * {
      box-sizing: border-box;
  }
  
    html {
      height: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
    body {
      font-family: 'Poppins', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #111;
      width: 100%;
      margin: 0;
  }
  
    span {
      padding-right: 15px;
      padding-left: 15px;
  }
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: relative;
  }

  .bg-chat{
    background-color: #222;
    border: 4px solid #333;
    border-radius: 10px;
    width: 95%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  .header-con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
  }

  .robot{
      width: 50px;
      height: 50px;
  }
  
  .chat {
      width: 50vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  } 
   
    input { 
      padding: 15px; 
      margin-left: auto;
      border-radius: 10px; 
      border: 4px solid rgb(79, 153, 196);
      width: 75%;
      outline: none;
  }
  button {
    width: 20%;
    padding: 15px;
    background:rgb(3, 144, 226);
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
  }
  p {
    color: white;
    font-size: 10px;
  }

  input:focus{
    border: 4px solid rgb(79, 153, 196);
    color: black;
  }
  
  .messages {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 400px;
      width: 100%;
      background-color: #000;
      padding: 15px;
      margin: 15px;
      border-radius: 10px;
      border: 4px solid rgb(79, 153, 196);
  }
  
  #bot {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
  }

  #user{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
  }
  
  .bot {
    font-family: 'Poppins', sans-serif;
    color: black;
  }

  .bot span{
    border-radius: 10px 10px 10px 0;
    margin-left: 4px;
    background: darkred;
    color: white;
  }
  
  .avatar {
      height: 25px;
  }

  span{
      background-color: rgb(3, 144, 226);
      color: #fff;
  }
  
  img{
      border-radius: 50%;
  }

  .response {
      display: flex;
      align-items: center;
      height: 25px;
  }

  #user span{
    border-radius: 10px 10px 0px 10px;
    margin-right: 4px;
  }
  
  
  /* Mobile */
  
  @media only screen and (max-width: 600px) {
    .container { 
          justify-content: flex-start;
      }
      .messages {
        height: 350px;
      }
      .chat {
          width: 75vw;
          margin: 10vw;
      }
  }
  @media only screen and (min-width: 900px) {
    input {
      width: 100% !important;
    }
    button {
      display: none !important;
    }
  }